STAGE=

# CORS Settings
#
# CORS_ALLOW_ORIGINS: Comma-separated list of allowed origins. E.g., http://localhost:3000,https://my-frontend.com
# CORS_ALLOW_CREDENTIALS: Set to 'true' or 'false'.
# CORS_ALLOW_METHODS: Comma-separated list of allowed HTTP methods. E.g., GET,POST,PUT,DELETE
# CORS_ALLOW_HEADERS: Comma-separated list of allowed HTTP headers. E.g., Content-Type,Authorization
#
# Example:
# CORS_ALLOW_ORIGINS=http://localhost:3000,https://my-frontend.com
# CORS_ALLOW_CREDENTIALS=true
# CORS_ALLOW_METHODS=GET,POST
# CORS_ALLOW_HEADERS=Content-Type
